/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
hr {
  border: 0;
}

/*--------------------------------------------------------------
# Content Header
--------------------------------------------------------------*/
.content-header {
  background: #0066CC;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 100;
}

.content-header p{
  font-size: 27px;
  font-weight: bold;
  font-family: Imago;
  color: white;
  text-align: center;
  padding-top: 7px;


}

/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.diagnosis-map {
  height: 89.5vh;
}

.diagnosis-details-map {
  width: 100%;
  height: 80%;
  padding: 50px 30px;
}

.diagnosis-details-map img {
  width: 100%;
  height: 100%;
}

#diagnosis-life-cycle {
  width: 80%;
  align-self: flex-end;
}

.hide {
  display: none;
}

/*--------------------------------------------------------------
# Custom expand button
--------------------------------------------------------------*/
.expand-btn-filed {
  width: 40px;
  height: 40px;
}

.custom-expand-btn {
  width: 100%;
  height: 100%;
}

#companion-diagnostics{
  top: 43%;
  left: 25%;
}

#digital-health {
  top: 17%;
  left: 10%;
}

#genomics {
  top: 19%;
  left: 40%;
}

#advanced-imaging {
  top: 21%;
  left: 64%;
}

#digital-pathology {
  top: 62%;
  left: 51%;
}

/*--------------------------------------------------------------
# Dignosis Details
--------------------------------------------------------------*/

.diagnosis-details {
  align-self: flex-end;
  margin-bottom: 35px;
}
.diagnosis-container {
  width: 80%;
  height: 78vh;
  margin:0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 2px black;
}
.diagnosis-right-header {
  font-family: Imago;
  justify-content: space-between;
  align-items: center;
}
.diagnosis-right-header img{
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}
.diagnosis-right-header img:hover{
  opacity: 1;
}
.diagnosis-right-header img:active{
  opacity: 0.8;
}
.diagnosis-right-header h1{
  font-size: 26px;
  font-weight: bold;
  color: #0066cc;
  margin: 0;
}
.diagnosis-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}
.diagnosis-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}
.diagnosis-right-content {
  overflow-y: auto;
  height: 90%;
}

.diagnosis-red-section {
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px;
  color: red;
  border:solid 2px red;
  box-shadow: 1px 1px 4px 1px black;
  border-radius: 20px 20px 20px 20px;
  width: fit-content;
  padding: 0 20px 0 30px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.diagnosis-red-section img {
  margin-left: -40px;
  margin-top: -5px;
  object-fit: contain;
  width: 44px;
}

.img-floodlight img{
  width: 100%;
  margin-top: 14%;
}

/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

/*--------------------------------------------------------------
# Connection Modal dialog
--------------------------------------------------------------*/
.modal {
  position: absolute;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-content {
  height: 100%;
  background-color: #efefef;
}

.modal-header {
  border-bottom: 8px solid #0066CC;
  padding: 0;
  height: 12%;
}

.modal-header img {
  height: 100%;
}

.modal-header button{
  position: absolute;
  opacity: 1;
  right: -25px;
  top: -25px;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
  outline: none;
}

.modal-header p {
  margin-bottom: 0;
  font-size: 38px;
  color: #000;
}

.modal-header button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  border: 3px solid white;
  padding: 0;
}

.modal-header button span {
  font-family: auto;
  font-size: 50px;
  line-height: 45px;
  height: 50px;
}

.modal-header button:hover{
  border: 3px solid white;
}

.modal-header button img{
  width: 50px;
}

.modal-body {
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
  height: 88%;
}

.modal-body .key-card {
  width: 45%;
  height: 96%;
  background: white;
  margin-top: 8px;
  font-family: Imago;
}

.modal-body .key-drivers {
  margin-left: 20px;
}

.modal-body .key-card-header {
  background-color: #00b0ff;
  height: 15%;
  font-size: 22px;
  color: white;
}

.modal-body .key-card-content {
  padding: 10px 30px;
}

.modal-body .key-card-content .key-card-content-block {
  padding: 5px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  margin-top:5px;
}

.arrow-lines-wrap {
  width: 100%;
  height: 100%;
}

.arrow-key-card {
  width: 80px;
  height: 100%;
}

.curly-brace-wrap {
  height: calc(100% - 2em);
  width: calc(100% - 2em);
}

.arrow-curly-brace {
  height: 100%;
  transform: scale(1,1.02);
  padding-right: 20px;

}

.arrow-curly-brace img {
  height: 100%;
  width: 108px;
}

.diagnostics-solutions {
  font-family: Imago;
  color: white;
  height: 100%;
}

.diagnostics-solutions-circle-dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  left: 10px;
}

.diagnostics-solutions-rectangle {
  background-color: #9572d4;
  width: 29%;
  min-height: 10%;
  border-radius: 9px;
  margin-right: 35px;
  padding: 0 10px;
}

.diagnostics-solutions-circle {
  background-color:  #e40046;;
  height: 31%;
  border-radius: 50%;
  width: 77%;
  margin-top: 4px;
}

.diagnostics-solutions-rectangle-block {
  width: calc(100% - 54px);
}


.diagnostics-solutions-circle-block {
  top: 0;
  left: 0;
  height: 225%;
  width: 75%;
  font-size: 12px;
  margin-left: 45px;
  margin-top: 91px;
}

.arrow-diagnostics-solution {
  margin-top: -64px;
  margin-left: -44px;
  left: 0;
}

.key-card-content-star {
  font-size: 49px;
  color: black;
  top: -2px;
  right: 13px;
  z-index: 3;
}

.diagnostics-solutions-circle-block .key-card-content-star {
  font-size: 33px;
  top: 52%;
  left: 19%;
}

.arrow-to-cds {
  width: 18%;
  height: 18%;
  top: calc(25% - 3px);
  left: 14%;
}

.arrow-to-cds img {
  width: 100%;
  height: 100%;
}

.enable-solution-mark {
  margin-right: -16px;
}

#zoom-out-button {
  bottom: 20px;
  right: 30px;
  border: 2px solid #e40046;
  color: #e40046;
  width: 10%;
  height: 10%;
  font-size: 23px;
  cursor: pointer;
}

#zoom-out-button:hover {
  background-color: rgba(228, 0, 70, 0.61);
  border: 2px solid transparent !important;
  color: white;
}

#diagnostics-solutions {
  background-color:  #e40046;;
}

#diagnostics-solutions-cds {
  left: 32%;
  top: 17%;
  width: 23%;
  min-height: 13%;
}

#arrow-regulators {
  left: 2px;
  top: 16%;
}

#arrow-players {
  left: 2px;
  top: 29%;
}

#arrow-policy {
  left: 2px;
  top: 39%;
}

#arrow-hcps {
  left: 2px;
  top: 47%;
}

#arrow-patients {
  left: 2px;
  top: 54%;
}

#arrow-hospitals {
  left: 2px;
  top: 65%;
}

#arrow-pharma {
  left: 2px;
  top: 87%;
}

#arrow-curly-brace {
  left: -36px;
  top: -43px;
  position: absolute;
  transform: scale(0.6, 0.96);
}

#arrow-to-analysis {
  margin-right: -66px;
  margin-top: 11px;
  right: 0;
}

#arrow-to-patients {
  margin-right: -66px;
  margin-top: 11px;
  right: 0;
}

@media (min-width: 992px) {
  .modal-lg {
    margin-top: 8%;
    max-width: 80%;
    height: 75%;
    min-height: 520px;
  }
}

/*--------------------------------------------------------------
# Zoom Out Modal dialog
--------------------------------------------------------------*/
#zoomout-modal .modal-header {
  border: 0;
  height: 0;
}

#zoomout-modal .modal-header button {
  z-index: 3;
}

#zoomout-modal .modal-body {
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

#zoomout-modal .modal-body .zoom-out-map {
  height: 100%;
  width: fit-content;
}

#zoomout-modal .modal-body .zoom-out-map img {
  height: 100%;
}

#zoomout-modal #diagnosis-dropdown {
  top: 3%;
  left: 36%;
}

#zoomout-modal #diagnosis-dropdown button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 22px;
  font-size: 14px;
}

#zoomout-modal #diagnosis-dropdown button img {
  width: 30px;
  top: -6px;
  left: -14px;
}

