/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
hr {
  border: 0;
}

.col-lg-8 {
  padding: 0;
}

/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.diagnosis-map {
  height: 89.5vh;
}

.diagnosis-details-map {
  width: 100%;
  height: 80%;
  padding: 50px 30px;
}

.diagnosis-details-map img {
  width: 100%;
  height: 100%;
}

.life-cycle-image {
  width: 80%;
  align-self: flex-end;
}

/*--------------------------------------------------------------
# Custom expand button
--------------------------------------------------------------*/
.expand-btn-filed {
  width: 40px;
  height: 40px;
}

.custom-expand-btn {
  width: 100%;
  height: 100%;
}

#companion-diagnostics{
  top: 43%;
  left: 25%;
}

#digital-health {
  top: 17%;
  left: 10%;
}

#genomics {
  top: 19%;
  left: 40%;
}

#advanced-imaging {
  top: 21%;
  left: 64%;
}

#digital-pathology {
  top: 62%;
  left: 51%;
}

/*--------------------------------------------------------------
# Dignosis Details
--------------------------------------------------------------*/

.diagnosis-details {
  align-self: flex-end;
  margin-bottom: 35px;
}
.diagnosis-container {
  width: 80%;
  height: 78vh;
  margin:0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 2px black;
}
.diagnosis-right-header {
  font-family: Imago;
  justify-content: space-between;
  align-items: center;
}
.diagnosis-right-header img{
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}
.diagnosis-right-header img:hover{
  opacity: 1;
}
.diagnosis-right-header img:active{
  opacity: 0.8;
}
.diagnosis-right-header h1{
  font-size: 26px;
  font-weight: bold;
  color: #0066cc;
  margin: 0;
}
.diagnosis-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}
.diagnosis-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}
.diagnosis-right-content {
  overflow-y: auto;
  height: 90%;
}

.diagnosis-red-section {
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px;
  color: red;
  border:solid 2px red;
  box-shadow: 1px 1px 4px 1px black;
  border-radius: 20px 20px 20px 20px;
  width: fit-content;
  padding: 0 20px 0 30px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.85;
}
.diagnosis-red-section img {
  margin-left: -40px;
  margin-top: -5px;
  object-fit: contain;
  width: 44px;
}
.diagnosis-red-section:hover {
  opacity: 1;
  background-color: #eeec;
}
.diagnosis-red-section:active {
  opacity: 0.8;
}
.text-content-img img {
  width: 100%;
}
.img-floodlight img{
  margin-top: 30%;
}

/*--------------------------------------------------------------
# Connection Modal dialog
--------------------------------------------------------------*/
.arrow-lines-wrap {
  width: 100%;
  height: 100%;
}

.arrow-key-card {
  width: 80px;
  height: 100%;
}

.curly-brace-wrap {
  height: calc(100% - 2em);
  width: calc(100% - 2em);
}

.arrow-curly-brace {
  height: 100%;
  transform: scale(1,1.02);
  padding-right: 20px;

}

.arrow-curly-brace img {
  height: 100%;
  width: 108px;
}

.diagnostics-solutions {
  font-family: Imago;
  color: white;
  height: 100%;
}

.diagnostics-solutions-circle-dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  left: 10px;
}

.diagnostics-solutions-rectangle {
  background-color: #9572d4;
  width: 29%;
  min-height: 10%;
  border-radius: 9px;
  margin-right: 35px;
  padding: 0 10px;
}

.diagnostics-solutions-rectangle a:hover {
  text-decoration: none;
}

.diagnostics-solutions-circle {
  background-color:  #e40046;;
  height: 44%;
  border-radius: 50%;
  width: 77%;
  margin-top: 4px;
}

.diagnostics-solutions-rectangle-block {
  width: calc(100% - 54px);
  font-size: 14px;
}


.diagnostics-solutions-circle-block {
  top: 0;
  left: 0;
  height: 225%;
  width: 75%;
  font-size: 10px;
  margin-left: 45px;
  margin-top: 91px;
}

.arrow-diagnostics-solution {
  margin-top: -64px;
  margin-left: -44px;
  left: 0;
}

.key-card-content-star {
  font-size: 49px;
  color: black;
  top: -12px;
  right: 13px;
  z-index: 3;
}

.diagnostics-solutions-circle-block .key-card-content-star {
  font-size: 33px;
  top: 52%;
  left: 19%;
}

.arrow-to-cds {
  width: 18%;
  height: 18%;
  top: calc(25% - 5px);
  left: 14%;
}

.arrow-to-cds img {
  width: 100%;
  height: 100%;
}

.enable-solution-mark {
  margin-right: -16px;
}

.zoom-out-button {
  bottom: 20px;
  right: 30px;
  border: 2px solid #e40046;
  color: #e40046;
  width: 10%;
  height: 10%;
  font-size: 23px;
  cursor: pointer;
}

.zoom-out-button:hover {
  background-color: rgba(228, 0, 70, 0.61);
  border: 2px solid transparent !important;
  color: white;
}

.diagnostics-solutions-field {
  background-color:  #e40046;;
}

.diagnostics-solutions-cds {
  left: 0;
  top: 0;
  margin-top: -139px;
  margin-left: 127px;
  width: 100%;
  min-height: 100%;
}

#arrow-regulators {
  left: 2px;
  top: 16%;
}

#arrow-players {
  left: 2px;
  top: 29%;
}

#arrow-policy {
  left: 2px;
  top: 39%;
}

#arrow-hcps {
  left: 2px;
  top: 47%;
}

#arrow-patients {
  left: 2px;
  top: 54%;
}

#arrow-hospitals {
  left: 2px;
  top: 65%;
}

#arrow-pharma {
  left: 2px;
  top: 87%;
}

#arrow-curly-brace {
  left: -36px;
  top: -43px;
  position: absolute;
  transform: scale(0.6, 0.96);
}

#arrow-to-analysis {
  margin-right: -66px;
  margin-top: 11px;
  right: 0;
}

#arrow-to-patients {
  margin-right: -66px;
  margin-top: 11px;
  right: 0;
}

#arrow-toward-cds {
  top: 0;
  left: 0;
  margin-top: -113px;
  margin-left: 30px;
}

@media (min-width: 992px) {
  .modal-lg {
    margin-top: 8%;
    max-width: 80%;
    height: 75%;
    min-height: 520px;
  }
}

/*--------------------------------------------------------------
# Genomic connection Modal dialog
--------------------------------------------------------------*/
.genomics-circle {
  margin-top: 9px;
  height: 70px;
}

.genomics-rectangle-block {
  height: 12%;
  font-size: 14px;
}

.genomics-circle-block {
  height: 162px;
  margin-top: 85px;
}

#genomics-arrow-regulators {
  left: 2px;
  top: 16%;
}

#genomics-arrow-players {
  left: 2px;
  top: 34%;
}

#genomics-arrow-hcps {
  left: 2px;
  top: 47%;
}

#genomics-arrow-patients {
  left: 2px;
  top: 62%;
}

#genomics-arrow-hospitals {
  left: 2px;
  top: 79%;
}

/*--------------------------------------------------------------
# Digital Health connection Modal dialog
--------------------------------------------------------------*/

.digital-health-rectangle-block {
  font-size: 14px;
}

.digital-health-rectangle-bottom-block {
  position: absolute;
  flex-shrink: 0;
  width: calc(277% + 120px);
  height: 100%;
  margin-left: 123%;
  color: white;
  margin-top: 151px;
}

#digital-health-arrow-regulators {
  left: 2px;
  top: 16%;
}

#digital-health-arrow-regulators-proven {
  left: 2px;
  top: 17%;
}

#digital-health-arrow-players {
  left: 2px;
  top: 24%;
}

#digital-health-arrow-players-clinical {
  left: 2px;
  top: 22%;
}

#digital-health-arrow-healthcare {
  left: 2px;
  top: 26%;
}

#digital-health-arrow-hcps {
  left: 2px;
  top: 29%;
}

#digital-health-arrow-hcps-patient {
  left: 2px;
  top: 43.5%;
}

#digital-health-arrow-medical {
  left: 2px;
  top: 30%;
}

#digital-health-arrow-patients {
  left: 2px;
  top: 40%;;
}

#digital-health-arrow-it {
  left: 2px;
  top: 87%;
}

#digital-health-arrow-it-proven {
  left: 2px;
  top: 71%;
}

#digital-health-arrow-endpoints {
  margin-top: -73px;
}

#digital-health-arrow-rwd {
  margin-top: -72px;
  margin-left: -97px;
}

#digital-health-arrow-clinical {
  top: 23%;
  left: -2px;
}

#digital-health-arrow-patient {
  top: 36%;
  left: -2px;
}

#digital-health-arrow-proven {
  top: 69%;
  left: -2px;
}

/*--------------------------------------------------------------
# Real World Data Connection
--------------------------------------------------------------*/
.real-world-data-roche-use-image, .real-world-data-content-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#real-world-data-roche img, #real-world-data-roche-use img {
  width: 100%;
  height: 100%;
}

#real-world-data-roche button, #real-world-data-roche-use button{
  z-index: 1;
}

#real-world-data-roche-use .modal-dialog, #real-world-data-roche .modal-dialog{
  margin-left: 0;
}

#real-world-data-roche-use .modal-content, #real-world-data-roche .modal-content{
  border-radius: 0;
}

#real-world-data-roche-use .modal-header {
  height: 60px;
  border-bottom: 0;
}

#real-world-data-roche .modal-header{
  border-bottom: 0;
  height: 0;
}

#real-world-data-roche-use .modal-body, #real-world-data-roche .modal-body{
  padding: 0;
}

#real-world-data-roche-use .modal-body {
  flex-shrink: 0;
  flex-grow: 0;
}

#real-world-data-roche-use .image-description p {
  font-size: 19px;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 5px;
}

.image-description-color-global {
  background: #2a89ef;
}

.image-description-color-regional {
  background: #70b4f7;
}

.image-description-color-local {
  background: #87ceeb;
}

.real-world-data-content .image-description {
  font-size: 7px;
  font-family: Imago;
}

.real-world-data-content .image-description p {
  margin-top: 16px;
}

.real-world-data-content .image-description .color-box {
  width: 25px;
  height: 25px;
}

.diagnostics-solutions-circle-block-top {
  margin-top: -132px;
  height: 155%;
}


/*--------------------------------------------------------------
# Zoom Out Modal dialog
--------------------------------------------------------------*/
#zoomout-modal .modal-header {
  border: 0;
  height: 0;
}

#zoomout-modal .modal-header button {
  z-index: 3;
}

#zoomout-modal .modal-body {
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

#zoomout-modal .modal-body .zoom-out-map {
  height: 100%;
  width: fit-content;
}

#zoomout-modal .modal-body .zoom-out-map img {
  height: 100%;
}

#zoomout-modal #diagnosis-dropdown {
  top: 3%;
  left: 36%;
}

#zoomout-modal #diagnosis-dropdown button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 22px;
  font-size: 14px;
}

#zoomout-modal #diagnosis-dropdown button img {
  width: 30px;
  top: -6px;
  left: -14px;
}