/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.main-content-map {
  position: relative;
  height: 100%;
}

.main-content-map img {
  height: 100%;
}

/*--------------------------------------------------------------
# Modal dialog
--------------------------------------------------------------*/
.modal {
  position: absolute;
  top: auto;
  bottom: auto;
}

.modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}

.modal-header button{
  position: absolute;
  opacity: 1;
  right: -25px;
  top: -25px;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
  outline: none;
}

.modal-header h4 {
  color: #007bff;
  border-bottom: 3px solid #007bff;
  padding-bottom: 7px;
}

.modal-header p {
  font-size: 27px;
  font-family: WinSoft Pro;
}

.modal-header button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  border: 3px solid white;
  padding: 0;
}

.modal-header button span {
  font-family: auto;
  font-size: 50px;
  line-height: 45px;
  height: 50px;
}

.modal-header button:hover{
  border: 3px solid white;
}

.modal-header button img{
  width: 50px;
}

.modal-footer {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.modal-footer button {
  width: 150px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-radius: 35px;
}

.modal-body {
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 710px;
  }
}

/*--------------------------------------------------------------
# System map DropDown Menu
--------------------------------------------------------------*/

#diagnosis-dropdown {
  left: 35.7%;
  top: 4%;
}

#monitoring-dropdown {
  left: 3.5%;
  top: 33%;
}

#health-care-dropdown {
  top: 4%;
  left: 52.3%;
}

#enablers-dropdown {
  left: 5.2%;
  top: 64%;
}

#stakeholders-dropdown {
  left: 34.8%;
  top: 40%;
}

#access-dropdown {
  left: 48.3%;
  top: 65%;
}

#care-dropdown {
  left: 83%;
  top: 47%;
}
