@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  width: 100vw;
  height: 100vh;
}

ul {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  height: 10.4%;
  transition: all 0.5s ease;
}

.container {
  margin-left: 4%;
  padding-top: 1.5%;
}

#logo {
  color: #0066CC;
  height: 100%;
}

#logo > h1 {
  font-family: WinSoft Pro;
  font-weight: bold;
  margin: auto 60px auto 6%;
  width: fit-content;
}

#logo > img {
  width: 100px;
  height: 52px;
  margin: auto 60px auto auto;
}
/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/

.side-bar {
  background: #fff5;
  position: relative;
  width: 14.45%;
  height: 100%;
  margin-left: 0;
  display: flex !important;
}
.side-bar-splitter {
  width: 23%;
  height: 100%;
  border-right: 5px solid #71C6FF;
  z-index: 2;
}
.side-bar-content {
  padding-top: 30%;
  height: 100%;
  width: 100%;
}

.side-bar-content > .active {
  background: white;
}

.side-bar-content > .active::before {
  color: #0066CC;
}

.side-bar-menu {
  padding-bottom: 10px;
  padding-left: calc(23vw + 20px);
  margin-left: -23vw;
}

.active > .side-bar-menu-title {
  font-weight: bold;
}

.side-bar-menu::before {
  color: #71C6FF;
  font-size: 20px;
  content: '⬤';
  margin-left: -32px;
  z-index: 3;
  position: relative;
}

.side-bar-menu-title, .side-bar-submenu-title {
  color: #000;
  font-family: sans-serif;
  padding-left: 10px;
}

.side-bar-submenu-title {
  font-size: 15px;
  padding-left: 0;
}

.active > .side-bar-submenu-title {
  font-weight: bold;
}

.side-bar-submenu-title:focus {
  font-weight: bold;
}


.side-bar-menu-title:hover, .side-bar-submenu-title:hover {
  text-decoration: none;
}

.side-bar-menu > .dropdown-toggle::after {
  display: none;
}

.submenu-list > .active::before {
  color: #71C6FF;
  content: '―';
  position: absolute;
  margin-left: -20px;
  margin-top: 0;
  font-size: 9px;
  font-weight: bold;
  transform: scale(2, 5);
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.content-wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.content{
  height: 89.6%;
}

.main-content {
  position: relative;
  width: 85.55%;
  height: 100%;
  margin-right: 0;
}


/*--------------------------------------------------------------
# Custom DropDown
--------------------------------------------------------------*/
.custom-dropdown {
  position: absolute;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 15px;
  padding-left: 18px;
  color: black;
  font-size: 11px;
  font-weight: bold;
  min-height: 30px;
  outline: none;
  background-size: contain;
}

.custom-dropdown:hover, .custom-dropdown:focus {
  background: #0066CC !important;
  color: white !important;
}

.custom-dropdown:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}

.custom-dropdown img {
  object-fit: contain;
  position: absolute;
  width: 30px;
  top: -1px;
  left: -15px;
  height: 30px !important;
}

.map-dropdown-menu .dropdown-toggle {
  background: white;
}

.map-dropdown-menu .dropdown-menu {
  min-width: 120px;
  background: #FFFFFF94;
}

.map-dropdown-menu .dropdown-menu a {
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

.map-dropdown-menu .dropdown-toggle::after {
  display: none;
}

.map-dropdown-menu .dropdown-item {
  padding: 2px 7px;
}

.map-dropdown-menu .dropdown-item:hover, .map-dropdown-menu .dropdown-item:focus {
  color: #16181B;
  text-decoration: none;
  background-color: #F8F9FAB0;
}
