@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: 'Imago';
  src: url('../lib/font/Berthold_Imago_Book.ttf');
}

body {
  width: 100vw;
  height: 100vh;
}

ul {
  margin-bottom: 0;
}
hr {
  border: 0;
}

.col-lg-8 {
  padding: 0;
}

.hide {
  display: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  height: 10.4%;
  transition: all 0.5s ease;
}

.container {
  margin-left: 4%;
  padding-top: 1.5%;
}

#logo {
  color: #0066CC;
  height: 100%;
}

#logo > h1 {
  font-family: WinSoft Pro;
  font-weight: bold;
  margin: auto 60px auto 6%;
  width: fit-content;
}

#logo > img {
  width: 100px;
  height: 52px;
  margin: auto 60px auto auto;
}

/*--------------------------------------------------------------
# Content Header
--------------------------------------------------------------*/
.content-header {
  background: #0066CC;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 100;
}

.content-header p{
  font-size: 27px;
  font-weight: bold;
  font-family: Imago;
  color: white;
  text-align: center;
  padding-top: 7px;


}

/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/
.side-bar {
  background: #fff5;
  position: relative;
  width: 14.45%;
  height: 100%;
  margin-left: 0;
  display: flex !important;
  z-index: 100;
}
.side-bar-splitter {
  width: 23%;
  height: 100%;
  border-right: 5px solid #71C6FF;
  z-index: 2;
}
.side-bar-content {
  padding-top: 60%;
  height: 100%;
  width: 100%;
}

.side-bar-content > .active {
  background: white;
}

.side-bar-content > .active::before {
  color: #0066CC;
}

.side-bar-menu {
  padding-bottom: 6px;
  padding-left: calc(23vw + 21px);
  margin-left: -23vw;
}

.side-bar-menu::before {
  color: #71C6FF;
  font-size: 23px;
  content: '⬤';
  margin-left: -34px;
  z-index: 3;
  position: relative;
}

.side-bar-menu-title, .side-bar-submenu-title {
  color: #000;
  font-family: Imago;
  padding-left: 10px;
}

.active > a{
  font-weight: bold;
}

.side-bar-menu-title {
  font-size: 20px;
  padding-left: 10px;
}

.side-bar-submenu-title {
  font-size: 16px;
  padding-left: 0;
}

.active > .side-bar-submenu-title {
  font-weight: bold;
}

.side-bar-submenu-title:focus {
  font-weight: bold;
}


.side-bar-menu-title:hover, .side-bar-submenu-title:hover {
  text-decoration: none;
}

.side-bar-menu > .dropdown-toggle::after {
  display: none;
}

.submenu-list > .active::before {
  color: #71C6FF;
  content: '―';
  position: absolute;
  margin-left: -20px;
  margin-top: 0px;
  font-size: 9px;
  font-weight: bold;
  transform: scale(2, 5);
}

.side-bar-search {
  background-color: #71c6ff;
  right: 0;
  top: 0;
  margin-top: calc(150% + 30px);
  margin-right: -143px;
  width: 160px;
  height: fit-content;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

.side-bar-search:hover {
  background-color: #0066cc;
  cursor: pointer;
}

.side-bar-search-icon {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.side-bar-search span{
  color: white;
  padding-right: 25px;
}

.side-bar-search-icon img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.content-wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.content{
  height: 89.6%;
}

.main-content {
  position: relative;
  width: 85.55%;
  height: 100%;
  margin-right: 0;
}


/*--------------------------------------------------------------
# Custom DropDown
--------------------------------------------------------------*/
.custom-dropdown {
  position: absolute;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 15px;
  padding-left: 18px;
  color: black;
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
  min-height: 30px;
  outline: none;
  background-size: contain;
  z-index: 2;
}

.custom-dropdown:hover, .custom-dropdown:focus {
  background: #0066CC !important;
  color: white !important;
}

.custom-dropdown:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}

.custom-dropdown img {
  object-fit: contain;
  position: absolute;
  width: 40px;
  top: -2px;
  left: -22px;
  height: 40px !important;
}

.map-dropdown-menu .dropdown-toggle {
  background: white;
}

.map-dropdown-menu .dropdown-menu {
  min-width: 160px;
  background: #FFFFFFCC;
  z-index: 1;
  top: -24px !important;
  padding-top: 26px;
}

.map-dropdown-menu .dropdown-menu a {
  font-size: 14px;
  font-family: Imago;
  font-weight: bold;
}

.map-dropdown-menu .dropdown-toggle::after {
  display: none;
}

.map-dropdown-menu .dropdown-item {
  padding: 0 10px;
}

.map-dropdown-menu .dropdown-item:hover, .map-dropdown-menu .dropdown-item:focus {
  color: #16181B;
  text-decoration: none;
  background-color: #F8F9FAB0;
}


/*--------------------------------------------------------------
# Custom expand button
--------------------------------------------------------------*/
.custom-expand-btn {
  background: #0066CC;
  position: relative;
  font-family: Imago;
  font-size: 30px;
  font-weight: bold;
  line-height: 21px;
  border-radius: 50%;
  border: 3px solid white;
  height: 40px;
  width: 40px;
  padding-left: 7px;
  padding-top: 4px;
  z-index: 2;
}

.custom-expand-btn:hover {
  border: 3px solid white;
}

.custom-expand-btn:focus {
  box-shadow: none;
}

.custom-expand-btn-minus {
  transform: scale(1.9, 1);
  position: absolute;
  top: 5px;
  left: 11px;
  z-index: 2;
}

.custom-expand-btn-plus {
  z-index: 2;
}

.custom-expand-btn-title {
  display: none;
  background: white;
  position: absolute;
  height: 29px;
  top: 0;
  margin-top: 5px;
  margin-left: 20px;
  color: black;
  font-family: Imago;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 3px 8px 3px 24px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
}
/*--------------------------------------------------------------
# Connection Modal dialog
--------------------------------------------------------------*/
.modal {
  position: absolute;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-content {
  height: 100%;
  background-color: #efefef;
}

.modal-header {
  border-bottom: 8px solid #0066CC;
  padding: 0;
  height: 12%;
}

.modal-header img {
  height: 100%;
}

.modal-header button{
  position: absolute;
  opacity: 1;
  right: -25px;
  top: -25px;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
  outline: none;
}

.modal-header p {
  margin-bottom: 0;
  font-size: 38px;
  color: #000;
}

.modal-header button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  border: 3px solid white;
  padding: 0;
}

.modal-header button span {
  font-family: auto;
  font-size: 50px;
  line-height: 45px;
  height: 50px;
}

.modal-header button:hover{
  border: 3px solid white;
}

.modal-header button img{
  width: 50px;
}

.modal-body {
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
  height: 88%;
}

.modal-body .key-card {
  width: 45%;
  height: 96%;
  background: white;
  margin-top: 8px;
  font-family: Imago;
}

.modal-body .key-drivers {
  margin-left: 20px;
}

.modal-body .key-card-header {
  background-color: #00b0ff;
  height: 15%;
  font-size: 22px;
  color: white;
}

.modal-body .key-card-content {
  padding: 10px 30px;
}

.modal-body .key-card-content .key-card-content-block {
  padding: 5px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  margin-top:5px;
}

/*--------------------------------------------------------------
# Search Modal dialog
--------------------------------------------------------------*/
#search-modal {
  height: 100%;
}

#search-modal .modal-content {
  padding: 30px;
}

#search-modal .modal-header {
  border-bottom: 0;
}

#search-modal .modal-body {
  padding: 0;
  margin-top: 30px;
}

#search-modal .modal-body h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.modal-search-input {
  background-color: #71c6ff;
  width: 100%;
  padding: 3px;
  border-radius: 30px;
}

.modal-search-input input {
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 0 15px;
  margin-left: 20px;
  font-size: 20px;
}

.modal-search-input .side-bar-search-icon {
  background-color: #0066cc;
}

.modal-search-input input:focus {
  outline: none;
}

.modal-search-result-item {
  border-bottom: 1px solid #cdcdcd;
}

.modal-search-result-item a {
  text-decoration: underline;
}

@media (min-width: 992px) {
  #search-modal .modal-lg {
    max-width: 70%;
    margin-top: 8%;
    height: 75%;
    min-height: 520px;
  }
}

/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
