@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: 'Imago';
  src: url('../lib/font/Berthold_Imago_Book.ttf');
}

body {
  width: 100vw;
  height: 100vh;
}

ul {
  margin-bottom: 0;
}

hr {
  border: 0;
}

.col-lg-8 {
  padding: 0;
}

.hide {
  display: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  height: 10.4%;
  transition: all 0.5s ease;
}

.container {
  margin-left: 4%;
  padding-top: 1.5%;
}

#logo {
  color: #0066CC;
  height: 100%;
}

#logo > h1 {
  font-family: WinSoft Pro;
  font-weight: bold;
  margin: auto 60px auto 6%;
  width: fit-content;
}

#logo > img {
  height: 50%;
  margin: auto 60px auto auto;
}

@media (max-width: 750px) {
  #logo img {
    margin-right: 20px !important;
  }

  #logo h1 {
    font-size: 21px;
    margin-right: 25px;
  }

  .mobile-title {
    margin-right: 0 !important;
    margin-left: 5px !important;
  }

  #logo .menu-button {
    margin-right: 5px !important;
    margin-left: 10px !important;
    height: 70%;
    cursor: pointer;
  }

  .mobile-header {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .right-space {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    background: #0066ccb5;
  }
}

/*--------------------------------------------------------------
# Content Header
--------------------------------------------------------------*/
.content-header {
  background: #0066CC;
  width: 100%;
  height: 50px;
  top: 10.4%;
  z-index: 100;
}

.content-header p {
  font-size: 27px;
  font-weight: bold;
  font-family: Imago;
  color: white;
  text-align: center;
  padding-top: 7px;
}

@media (max-width: 750px) {
  .content-header {
    position: relative !important;
    height: fit-content;
    transition: all 0.5s ease;
    top: 0;
    z-index: 5;
  }

  .content-header p {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
  }
}

/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/
.side-bar {
  background: #fff5;
  position: relative;
  width: 14.45%;
  height: 100%;
  margin-left: 0;
  display: flex !important;
  z-index: 100;
}

.side-bar-splitter {
  width: 23%;
  height: 100%;
  border-right: 5px solid #71C6FF;
  z-index: 2;
}

.side-bar-content {
  padding-top: 50%;
  height: 100%;
  width: 100%;
}

.side-bar-content > .active {
  background: white;
}

.side-bar-content > .active::before {
  color: #0066CC;
}

.side-bar-menu {
  padding-bottom: 3px;
  padding-left: calc(23vw + 21px);
  margin-left: -23vw;
  position: relative;
}

.side-bar-menu::before {
  color: #71C6FF;
  font-size: 23px;
  content: '⬤';
  margin-left: -34px;
  z-index: 3;
  position: relative;
}

.side-bar-menu-title, .side-bar-submenu-title {
  color: #000;
  font-family: Imago;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.active > a {
  font-weight: bold;
}

.side-bar-menu-title {
  font-size: 18px;
  padding-left: 10px;
}

.side-bar-submenu-title {
  font-size: 16px;
  padding-left: 0;
}

.active > .side-bar-submenu-title {
  font-weight: bold;
}

.side-bar-submenu-title:focus {
  font-weight: bold;
}

.side-bar-menu-title:hover, .side-bar-submenu-title:hover {
  text-decoration: none;
}

.side-bar-menu > .dropdown-toggle::after {
  display: none;
}

.submenu-list > .active::before {
  color: #71C6FF;
  content: '―';
  position: absolute;
  margin-left: -20px;
  margin-top: 0;
  font-size: 9px;
  font-weight: bold;
  transform: scale(2, 5);
}

.side-bar-search {
  background-color: #71c6ff;
  right: 0;
  top: 0;
  margin-top: 70px;
  margin-right: -143px;
  width: 160px;
  height: fit-content;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

.side-bar-search:hover {
  background-color: #0066cc;
  cursor: pointer;
}

.side-bar-search-icon {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.side-bar-search span {
  color: white;
  padding-right: 25px;
}

.side-bar-search-icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 750px) {
  .side-bar-menu-title {
    font-size: 4vw;
  }

  .side-bar-wrapper {
    width: 100%
  }

  .side-bar-content {
    padding-top: 36%;
  }

  .side-bar-search {
    margin-top: 30px;
  }

  .side-bar-menu svg {
    position: absolute;
    margin-top: 6px;
    margin-right: 6px;
    fill: #71c6ff;
    left: 88%;
  }

  .active svg {
    fill: #0066cc;
  }

  .mobile-side-bar {
    display: flex !important;
    width: 68%;
    position: absolute;
    z-index: 10;
    background: #eee;
    top: 0;
    left: -68%;
    transition: all 0.5s ease;
  }

  .mobile-side-bar-submenu {
    padding-top: 90px !important;
    width: 68%;
    z-index: -1;
  }

  .mobile-side-bar-submenu-item {
    padding-left: 5px;
  }

  .mobile-side-bar-submenu-item a {
    padding-left: 1px !important;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .mobile-side-bar-submenu-item .side-bar-menu-title {
    margin-bottom: 0;
    font-size: 22px;
    padding-left: 0 !important;
  }

  .mobile-side-bar-submenu-item a:focus, .mobile-side-bar-submenu-item a:hover {
    color: black;
  }

  .mobile-side-bar-search {
    background: #0066cc;
    width: 210px;
    margin-right: -193px;
    z-index: 12;
  }

  .mobile-side-bar-search input {
    width: 78%;
    margin-right: 9px;
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile-side-bar-search input:focus {
    outline: 0;
  }

  .mobile-search-result, .mobile-side-bar-submenu {
    background: white;
    height: 100%;
    padding: 100px 10px 30px 10px;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
  }

  .mobile-search-result {
    width: 80%;
    z-index: 0;
  }

  .mobile-side-bar-submenu .side-bar-menu:before {
    display: none;
  }

  #mobile-search-result-content {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }

  .vbhc-arrow-right {
    top: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 3px !important;
  }
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.content-wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.content {
  height: 89.6%;
}

.main-content {
  position: relative;
  width: 85.55%;
  height: 100%;
  margin-right: 0;
}

@media (max-width: 750px) {
  .content-wrapper {
    background-size: cover;
    overflow-x: hidden;
  }

  .main-content {
    width: 100%;
    transition: all 0.5s ease;
  }

  .main-content-map {
    height: auto !important;
    flex-direction: column;
  }

  .main-content-map > div {
    width: 100vw;
  }

  .main-content-map img {
    height: auto !important;
    width: 100vw;
  }

  .main-content-map .col-lg-6:nth-child(2) {
    background: white;
    margin-bottom: 0;
  }

  .main-content-map .col-lg-6:nth-child(1) {
    bottom: -60px;
    height: 75vh !important;
  }

  .main-content-map .image-description-list .col-lg-6:nth-child(1) {
    height: fit-content !important;
    bottom: 0 !important;
  }

  .main-content-map .col-lg-6:nth-child(1) > div {
    height: auto !important;
    padding: 10px !important;
  }

  .details-container {
    width: 100% !important;
    height: auto !important;
    padding: 60px 0 20px 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    overflow: hidden !important;
  }

  .details-container div:nth-child(3) {
    overflow: hidden !important;
  }

  .details-container div:nth-child(3) > div {
    flex-direction: column;
  }

  .image-description {
    flex-direction: row !important;
  }

  .text-content-img img {
    margin-top: 0 !important;
  }

  .details-container h1 {
    font-size: 19px !important;
    text-align: center;
  }

  .details-container .connection-button {
    width: fit-content;
    margin-left: 5%;
    font-size: 15px;
  }

  .content {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Custom DropDown
--------------------------------------------------------------*/
.custom-dropdown {
  position: absolute;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 15px;
  padding-left: 20px;
  color: black;
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  min-height: 30px;
  outline: none;
  background-size: contain;
  box-shadow: #000000eb 1px 1px 10px 1px;
  border: 1px solid #21252957;
  z-index: 2;
}

.custom-dropdown:hover, .custom-dropdown:focus {
  background: #0066CC !important;
  color: white !important;
  border-color: #0066cc99 !important;
}

.custom-dropdown:focus {
  box-shadow: #000000eb 1px 1px 10px 1px !important;
  border: 1px solid #0066cc99;
}

.custom-dropdown img {
  object-fit: contain;
  position: absolute;
  width: 40px;
  top: -2px;
  left: -22px;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: #000000eb -4px 0 9px -1px !important;
}

.map-dropdown-menu .dropdown-toggle {
  background: white;
}

.map-dropdown-menu .dropdown-menu {
  min-width: 160px;
  background: #FFFFFFCC;
  z-index: 5;
  top: -24px !important;
  padding-top: 26px;
}

.map-dropdown-menu .dropdown-menu a {
  font-size: 14px;
  font-family: Imago;
  font-weight: bold;
}

.map-dropdown-menu .dropdown-toggle::after {
  display: none;
}

.map-dropdown-menu .dropdown-item {
  padding: 0 10px;
}

.map-dropdown-menu .dropdown-item:hover, .map-dropdown-menu .dropdown-item:focus {
  color: #16181B;
  text-decoration: none;
  background-color: #F8F9FAB0;
}

.show > .btn-light.dropdown-toggle {
  border-color: #0066cc99;
}

.zoom-out-map-dropdown:focus, .zoom-out-map-dropdown:hover {
  background: #f09922 !important;
  color: white !important;
  border-color: #f0992299 !important;
}

@media (max-width: 750px) {
  .map-dropdown-menu .dropdown-menu {
    top: -15px !important;
    padding-top: 15px;
  }

  .custom-dropdown {
    font-size: 12px;
    min-height: 23px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .custom-dropdown img {
    width: 25px;
    left: -10px;
    height: 25px !important;
  }
}

/*--------------------------------------------------------------
# Custom expand button
--------------------------------------------------------------*/
.custom-expand-btn {
  background: #0066CC;
  position: relative;
  font-family: Imago;
  font-size: 30px;
  font-weight: bold;
  line-height: 21px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: #000000eb -4px 1px 13px -2px;
  height: 40px;
  width: 40px;
  padding-left: 7px;
  padding-top: 4px;
  z-index: 2;
}

.custom-expand-btn:hover {
  border: 3px solid white;
}

.custom-expand-btn:focus {
  box-shadow: none;
}

.custom-expand-btn-minus {
  transform: scale(1.9, 1);
  position: absolute;
  top: 5px;
  left: 11px;
  z-index: 2;
}

.custom-expand-btn-plus {
  z-index: 2;
}

.custom-expand-btn-title {
  display: none;
  background: white;
  position: absolute;
  height: 29px;
  top: 0;
  margin-top: 5px;
  margin-left: 20px;
  color: black;
  font-family: Imago;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 3px 8px 3px 24px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: #000000eb 1px 1px 10px 1px;
  z-index: 1;
}

@media (max-width: 750px) {
  .custom-expand-btn {
    height: 32px !important;
    width: 32px !important;
  }

  .custom-expand-btn-minus {
    top: 6px;
    left: 9px;
  }

  .custom-expand-btn {
    font-size: 23px;
    line-height: 11px;
    padding-left: 6px;
    padding-top: 5px;
  }

  .custom-expand-btn-title {
    margin-top: 1px;
    margin-left: 15px;
  }
}

/*--------------------------------------------------------------
# Connection Modal dialog
--------------------------------------------------------------*/
.modal {
  position: absolute;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-content {
  height: 100%;
  background-color: #efefef;
}

.modal-header {
  background: #ed8b00;
  padding: 0 0 0 40px;
  height: 12%;
}

.modal-header img {
  height: 100%;
}

#search-modal .modal-header {
  background: #efefef;
  padding-left: 0 !important;
}

.modal-header button {
  position: absolute;
  opacity: 1;
  right: -25px;
  top: -25px;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
  outline: none;
}

.modal-header p {
  margin-bottom: 0;
  font-size: 38px;
  color: white !important;
}

.modal-header button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  border: 3px solid white;
  padding: 0;
}

.modal-header button span {
  font-family: auto;
  font-size: 50px;
  line-height: 45px;
  height: 50px;
}

.modal-header button:hover {
  border: 3px solid white;
}

.modal-header button img {
  width: 50px;
}

.modal-body {
  font-family: Imago;
  font-size: 17px;
  font-weight: bold;
  height: 88%;
}

.modal-body .key-card-wrapper {
  background: #dadada;
  padding-top: 20px;
}

.modal-body .key-card {
  width: 45%;
  height: 96%;
  margin-top: 8px;
  font-family: Imago;
}

.modal-body .key-stakeholders {
  padding-right: 30px;
}

.modal-body .key-drivers {
  margin-left: 20px;
  padding-left: 30px;
}

.modal-body .key-card-header {
  background-color: #e40046;
  height: 15%;
  font-size: 22px;
  color: white;
}

.modal-body .key-card-content {
  position: relative;
  padding: 10px 0;
}

.modal-body .key-card-content-star:hover {
  text-decoration: none;
}

.modal-body .key-card-content .key-card-content-block {
  position: relative;
  padding: 5px 5px 5px 28px;
  background: white;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
}

.modal-body .key-card-content .clinical-key-card-content-block {
  position: relative;
  padding: 1px 5px 1px 28px;
  background: white;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-top: 1px;
}

.modal-body .key-card-content-band {
  width: 7px;
  height: calc(100% - 10px);
  background: white;
  left: 18px;
  top: 0;
}

.modal-body .rectangle-block-right-band {
  background: #0066cc;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
}

.modal-body .rectangle-block-circle-dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  left: 10px;
}

.modal-body .key-card-content-block-right, .modal-body .rectangle-block-right {
  position: absolute;
  width: 18px;
  height: 100%;
  background-color: #e40046;
  left: 0;
  top: 0;
}

.modal-body .rectangle-block-right {
  background-color: #0066cc;
}

/*--------------------------------------------------------------
# Search Modal dialog
--------------------------------------------------------------*/
#search-modal {
  height: 100%;
}

#search-modal .modal-content {
  padding: 30px;
}

#search-modal .modal-header {
  border-bottom: 0;
}

#search-modal .modal-body {
  padding: 0;
  margin-top: 30px;
}

#search-modal .modal-body h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.modal-search-input {
  background-color: #71c6ff;
  width: 100%;
  padding: 3px;
  border-radius: 30px;
}

.modal-search-input input {
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 0 15px;
  margin-left: 20px;
  font-size: 20px;
}

.modal-search-input .side-bar-search-icon {
  background-color: #0066cc;
}

.modal-search-input input:focus {
  outline: none;
}

.modal-search-result {
  height: calc(100% - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-search-result-item {
  border-bottom: 1px solid #cdcdcd;
}

.modal-search-result-item a {
  text-decoration: underline;
}

.search-result-page {
  color: #0066cc;
  padding: 5px;
  font-size: 16px;
}

@media (min-width: 992px) {
  #search-modal .modal-lg {
    max-width: 70%;
    margin-top: 8%;
    height: 75%;
    min-height: 520px;
  }
}

/*--------------------------------------------------------------
# PHC Engine
--------------------------------------------------------------*/
.life-cycle-image {
  bottom: 15px;
  width: 80%;
  align-self: flex-end;
  z-index: 2;
}

/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
