/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/
@media (max-width: 750px) {
  .mobile-side-bar-submenu {
    padding-top: 108% !important;
  }

  .mobile-side-bar-submenu-item .side-bar-menu-title {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.phc-map {
  height: 89.5vh;
}

.phc-details-map {
  width: 100%;
  height: 100%;
  padding: 80px 5px;
}

.phc-details-map img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Stakeholders Details
--------------------------------------------------------------*/
.phc-details {
  align-self: flex-end;
  margin-bottom: 35px;
}

.phc-container {
  width: 80vw;
  height: 78vh;
  margin: 40px auto 0;
  background-color: white;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 1px 10px 2px black;
}

.phc-right-header {
  height: 70px;
  background: #0066cc;
  border-radius: 15px 15px 0 0;
  font-family: Imago;
  padding-left: 30px;
}

.phc-right-header img {
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}

.phc-right-header img:hover {
  opacity: 1;
}

.phc-right-header img:active {
  opacity: 0.8;
}

.phc-right-header h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.phc-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}

.phc-details-content {
  padding: 20px;
}

.phc-details-content p span, .phc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.phc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.phc-right-content {
  overflow-y: auto;
  height: 85%;
  padding: 20px;
}

.phc-right-content p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #cdcdcd;
  width: 30%;
}

.text-content-img img {
  width: 100%;
}

@media (max-width: 750px) {
  .phc-details {
    margin-bottom: 0 !important;
  }
  .details-container {
    width: 100% !important;
    height: 78vh !important;
    border-radius: 15px !important;
    box-shadow: none !important;
    overflow: hidden !important;
    padding: 0 !important;
  }
  .phc-container {
    margin-top: 0 !important;
  }
  .phc-right-content {
    height: 79%;
    flex-direction: column;
  }
  .phc-right-content p {
    width: 100%;
  }
}
