/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/
@media (max-width: 750px) {
  .mobile-side-bar-submenu {
    padding-top: 108% !important;
  }

  .mobile-side-bar-submenu-item .side-bar-menu-title {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.phc-map {
  height: 89.5vh;
}

.phc-details-map {
  width: 100%;
  height: 100%;
  padding: 80px 5px;
}

.phc-details-map img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Dignosis Details
--------------------------------------------------------------*/
.phc-details {
  align-self: flex-end;
  margin-bottom: 35px;
}

.phc-container {
  width: 80%;
  height: 78vh;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 10px 2px black;
}

.phc-right-header {
  font-family: Imago;
  justify-content: space-between;
  align-items: center;
}

.phc-right-header img {
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}

.phc-right-header img:hover {
  opacity: 1;
}

.phc-right-header img:active {
  opacity: 0.8;
}

.phc-right-header h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #0066cc;
  margin: 0;
}

.phc-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}

.phc-details-content p span, .phc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.phc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.phc-right-content {
  overflow-y: auto;
  height: 90%;
}

.text-content-img img {
  width: 100%;
}


