@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #169dff;
  color: #333;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  transition: all 0.5s ease;
}
