@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: #333;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  transition: all 0.5s ease;
}

/*--------------------------------------------------------------
# Side Bar
--------------------------------------------------------------*/

#side-bar {
  background: #66ffe3;
  position: absolute;
  height: calc(100vh - 48px);
  top: 48px;
  left: 0;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

#main-content {
  background: blue;
  position: absolute;
  height: calc(100vh - 48px);
  top: 48px;
  right: 0;
}