/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.vbhc-map {
  height: 89.5vh;
}

.vbhc-details-map {
  width: 100%;
  height: 80%;
  padding: 75px 30px;
}

.vbhc-details-map img {
  width: 100%;
  height: 100%;
}

.life-cycle-image {
  width: 80%;
  align-self: flex-end;
}

/*--------------------------------------------------------------
# Dignosis Details
--------------------------------------------------------------*/

.vbhc-details {
  align-self: flex-end;
  margin-bottom: 35px;
}

.vbhc-container {
  width: 80%;
  height: 78vh;
  margin:0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 10px 2px black;
}

.vbhc-right-header {
  font-family: Imago;
  justify-content: space-between;
  align-items: center;
}

.vbhc-right-header img{
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}

.vbhc-right-header img:hover{
  opacity: 1;
}

.vbhc-right-header img:active{
  opacity: 0.8;
}

.vbhc-right-header h1{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #0066cc;
  margin: 0;
}

.vbhc-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}

.vbhc-details-content p span, .vbhc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.vbhc-details-content img{
  width: 100%
}

.vbhc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.vbhc-right-content {
  overflow-y: auto;
  height: 90%;
}

.text-content-img img {
  width: 100%;
}

/*--------------------------------------------------------------
#   Expand buttons
--------------------------------------------------------------*/
#value-based-healthcare {
  top: 56%;
  left: 58%;
}

#roche-initiatives {
  top: 27%;
  left: 38%;
}

#roche-examples {
  top: 40%;
  left: 70%;
}

/*--------------------------------------------------------------
#   Image Description Modal
--------------------------------------------------------------*/
.image-description {
  cursor: pointer;
}

.image-modal .modal-header {
  height: 0;
  border: 0;
}

.image-modal .modal-header button {
  z-index: 1;
}

.image-modal img {
  width: 100%;
  height: 100%;
}

.image-modal .modal-dialog {
  margin-left: 0;
}

.image-modal .modal-content {
  border-radius: 0;
}

.image-modal .modal-body {
  padding: 0;
}

@media (min-width: 992px) {
  .modal-lg {
    margin-top: 8%;
    max-width: 80%;
    height: 75%;
    min-height: 520px;
  }
}