@media (max-width: 750px) {
  .mobile-side-bar-submenu {
    padding-top: 110% !important;
  }
}

/*--------------------------------------------------------------
# Details Map
--------------------------------------------------------------*/
.vbhc-map {
  height: 89.5vh;
}

.vbhc-details-map {
  width: 100%;
  height: 100%;
  padding: 80px 5px;
}

.vbhc-details-map img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Dignosis Details
--------------------------------------------------------------*/

.vbhc-details {
  align-self: flex-end;
  margin-bottom: 35px;
}

.vbhc-container {
  width: 80%;
  height: 78vh;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 10px 2px black;
}

.vbhc-right-header {
  font-family: Imago;
  justify-content: space-between;
  align-items: center;
}

.vbhc-right-header img {
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.8;
}

.vbhc-right-header img:hover {
  opacity: 1;
}

.vbhc-right-header img:active {
  opacity: 0.8;
}

.vbhc-right-header h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #0066cc;
  margin: 0;
}

.vbhc-right-border-div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-color: #0066cc;
}

.vbhc-details-content p span, .vbhc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.vbhc-details-content img {
  width: 100%
}

.vbhc-container h2 {
  font-size: 20px;
  color: #0066cc;
  font-weight: bold;
}

.vbhc-right-content {
  overflow-y: auto;
  height: 90%;
}

.text-content-img img {
  width: 100%;
}

/*--------------------------------------------------------------
#   Expand buttons
--------------------------------------------------------------*/
#context {
  top: 56%;
  left: 22%;
}

#showcases {
  top: 27%;
  left: 38%;
}

#shining-towers {
  top: 40%;
  left: 70%;
}

#rozlytrek {
  top: 56%;
  left: 62%;
}

@media (max-width: 750px) {
  #context {
    top: 61%;
    left: 31%;
  }

  #showcases {
    top: 40%;
    left: 62%;
  }

  #shining-towers {
    top: 20%;
    left: 38%;
  }

  #rozlytrek {
    top: 56%;
    left: 60%;
  }
}

/*--------------------------------------------------------------
#   Image Description Modal
--------------------------------------------------------------*/
.image-description {
  cursor: pointer;
}

.image-modal .modal-header {
  height: 0;
  border: 0;
}

.image-modal .modal-header button {
  z-index: 1;
}

.image-modal img {
  width: 100%;
  height: 100%;
}

.image-modal .modal-dialog {
  margin-left: 0;
}

.image-modal .modal-content {
  border-radius: 0;
}

.image-modal .modal-body {
  padding: 0;
}

#roche-framework img {
  width: auto;
  height: 100%;
}

@media (min-width: 992px) {
  .modal-lg {
    margin-top: 8%;
    max-width: 80%;
    height: 75%;
    min-height: 520px;
  }

  #roche-world-data .modal-lg {
    max-width: 60%;
    margin-left: 10%;
  }
}

/*--------------------------------------------------------------
#   Roche World Data Modal
--------------------------------------------------------------*/
#roche-world-data .modal-content {
  background-color: #eeeeeebf;
}

#roche-world-data table {
  height: 100%;
}

#roche-world-data table th {
  background: #70ad47;
  color: white;
  padding-left: 8px;
  border: 2px solid white;
  min-width: 100px;
}

#roche-world-data table td {
  padding-left: 8px;
  border: 2px solid white;
  min-width: 100px;
}

#roche-world-data table td span {
  font-weight: bold;
  text-decoration: underline;
}

