@import "node_modules/video-react/styles/scss/video-react";
@import "common/index";
@import "pages/main";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: 'Imago';
  src: url('/fonts/Berthold_Imago_Book.ttf');
}

body {
  margin: 0;
}

hr {
  border: 0;
}

/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DADADA;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
