@import "common/atoms";
@import "common/header";
@import "common/topbar";
@import "common/sidebar";
@import "common/pagecontainer";

@font-face {
  font-family: 'Imago';
  src: url('/fonts/Berthold_Imago_Book.ttf');
}

body {
  margin: 0;
}
