.roche-context {
  .main-content {
    padding-bottom: 72px;
  }
}

.world-map {
  width: 100%;
  height: 100%;

  .world-map-image {
    width: 100%;
    height: 100%;
  }

  .australia {
    top: 74%;
    left: 82%;
  }

  .croatia {
    left: 54.3%;
    top: 35%;
  }

  .middle-east {
    top: 50%;
    left: 55%;
  }

  .switzerland {
    top: 35%;
    left: 48%;
  }

  .canada {
    top: 27%;
    left: 14%;
  }

  .italy {
    top: 40%;
    left: 49%;
  }

  .korea {
    top: 42%;
    left: 80%;
  }

  .germany {
    left: 48%;
    top: 30%;
  }

  .singapore {
    top: 60%;
    left: 73%;
  }

  .usa {
    top: 40%;
    left: 17%;
  }
}
