.enablers-roche {
  .detail-map {
    right: 54%;
  }
  .image-modal {
    .custom-modal-content {
      img {
        width: auto;
      }
    }
  }

  .custom-modal-wrapper {
    width: 100vw;
    left: -318px;
    align-items: center;
    justify-content: center;

    .custom-modal-container {
      width: fit-content;
      height: auto;
      background: white;
      border-radius: 5px;
      box-shadow: 0 0 6px 0;
      padding: 15px 20px;
      position: relative;
      max-width: 1200px;
      top: 0;
      left: 0;
    }
  }
}

.roche-context {
  .main-content {
    padding-bottom: 72px;
  }
}

.world-map {
  width: 100%;
  height: 100%;

  .world-map-image {
    width: 100%;
    height: 100%;
  }

  .australia {
    top: 74%;
    left: 82%;

    .expand-content {
      bottom: 35px;
      right: 0;
      left: unset;
    }
  }

  .croatia {
    left: 54.3%;
    top: 35%;
  }

  .middle-east {
    top: 50%;
    left: 55%;
  }

  .switzerland {
    top: 35%;
    left: 48%;
  }

  .canada {
    top: 27%;
    left: 14%;

    .expand-content {
      left: 0;
    }
  }

  .italy {
    top: 40%;
    left: 49%;
  }

  .korea {
    top: 42%;
    left: 80%;

    .expand-content {
      bottom: 35px;
      right: 0;
      left: unset;
    }
  }

  .germany {
    left: 48%;
    top: 30%;
  }

  .singapore {
    top: 60%;
    left: 73%;

    .expand-content {
      bottom: 35px;
      right: 0;
      left: unset;
    }
  }

  .usa {
    top: 40%;
    left: 17%;

    .expand-content {
      left: 0;
    }
  }
}
