@import "./welcome";
@import "./abbreviation";
@import "./acknowledgements";
@import "./journey";
@import "./enablers";

p {
  span {
    color: #0066CC;
    font-weight: bold;
  }
}

span {
  span {
    text-decoration: underline;
  }
}

.page-wrapper {
  width: 100%;
}

.background-map {
  height: 100%;
  position: absolute;

  img {
    height: 100%;
  }
}


.mobile-background-map {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }
}

.detail-map {
  height: 80%;
  position: absolute;
  right: 47%;

  img {
    height: 100%;
  }
}

.access-dropdown {
  position: absolute;
  top: 71%;
  left: 47%;
}

.care-dropdown {
  position: absolute;
  top: 38%;
  left: 61%;
}

.diagnosis-dropdown {
  position: absolute;
  top: 10%;
  left: 29%;
}

.data-dropdown {
  position: absolute;
  top: 43%;
  left: 48%;
}

.monitoring-dropdown {
  position: absolute;
  top: 32%;
  left: 5%;
}

.roche-dropdown {
  position: absolute;
  top: 2%;
  left: 84%;

  .dropdown-title:hover {
    background: #ED8B00;
  }
}

.partners-dropdown {
  width: 135px !important;
  position: absolute;
  top: 2%;
  left: 58%;

  .dropdown-title:hover {
    background: #ED8B00;
  }
}

.vbhc-dropdown {
  position: absolute;
  top: 1%;
  left: 69%;

  .dropdown-title:hover {
    background: #ED8B00;
  }
}

@media (max-width: 800px) {
  /* width */
  ::-webkit-scrollbar {
    width: 3px !important;
  }

  .page-content {
    width: 100vw;
    height: calc(100vh - 110px)  !important;
    top: 70px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .custom-modal-wrapper {
    height: calc(100vh - 70px) !important;
    top: -40px !important;
  }

  .roche-dropdown {
    top: 2%;
    left: 75%;
  }

  .partners-dropdown {
    top: 1%;
    left: 52%;
  }

  .access-dropdown {
    top: 71%;
    left: 43%;
  }

  .data-dropdown {
    top: 48%;
    left: 45%;
  }

  .reference-content {
    p {
      width: 100% !important;
    }
  }

  .main-content {
    width: 100% !important;
    height: fit-content;
    min-width: 0;
    right: 0;
    top: 50%;
    border-radius: 0;
    padding: 0 10px !important;

    .main-content-image {
      pointer-events: none !important;
    }

    .main-content-title {
      font-size: 20px !important;
    }

    .connection-button {
      display: none !important;
    }
  }

  .detail-map {
    height: 50%;
    top: 0;
    right: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acknowledgements, .abbreviation {
    .custom-modal-wrapper {
      background: unset !important;

      .custom-modal-container {
        width: 100% !important;
        left: 0 !important;
        border-radius: 0 !important;

        .custom-modal-header {
          border-radius: 0;
        }
      }
    }
  }

  .reference-content {
    height: calc(100% - 31px) !important;
  }
}

