.welcome {
  .custom-modal-container {
    transform: scale(1) !important;
  }

  .custom-modal-content {
    height: calc(100% - 60px);
  }
  .welcome-modal {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #0066cc;
      margin-bottom: 15px;
    }

    .welcome-videos {
      width: 50%;
      min-width: 500px;
      margin-left: auto;
      margin-right: auto;

      .slick-prev:hover, .slick-next:hover {
        color: #D8D8D8;
      }

      .slick-prev:before, .slick-next:before {
        color: #565B59;
      }
    }

    .explore-button {
      width: 40%;
      height: 50px;
      min-width: 500px;
      background: #0066cc;
      border-radius: 30px;
      margin: 20px auto;
      cursor: pointer;

      &:active {
        opacity: 0.8;
      }

      span {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .slick-prev {
    left: 0;
    z-index: 5;
  }

  .slick-next {
    right: 0;
    z-index: 5;
  }
}
