.custom-button:active {
  background: #8DD1FF !important; }

.custom-input:focus {
  outline: none; }

.nav-submenu:hover {
  background: #D8D8D8AD; }

.nav-menu-title:hover {
  font-weight: bold !important; }

.custom-dropdown .drop-button:active {
  background: #1189DA !important; }

.custom-dropdown .drop-button .dropdown {
  background: #1189DA !important; }

.custom-dropdown .dropdown-title {
  width: 75%;
  height: 50px;
  background: white;
  border-radius: 0 25px 25px 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer; }
  .custom-dropdown .dropdown-title:hover {
    background: #0066CC;
    color: white !important; }

.custom-dropdown .custom-dropdown-list {
  display: flex;
  flex-direction: column;
  background: #ffffffbd;
  border-radius: 5px;
  padding: 10px;
  top: 50px; }
  .custom-dropdown .custom-dropdown-list a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: 'Imago';
    padding: 0 5px; }
    .custom-dropdown .custom-dropdown-list a:hover {
      background: #ffffffdd; }

.connection-button {
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px;
  color: red;
  border: solid 2px red;
  box-shadow: 1px 1px 4px 1px black;
  border-radius: 20px 20px 20px 20px;
  width: fit-content;
  padding: 0 20px 0 30px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.85; }
  .connection-button:active {
    opacity: 1; }
  .connection-button img {
    height: 46px;
    margin-left: -42px; }

.header {
  width: 100%;
  height: 112px; }
  .header span {
    width: fit-content;
    height: fit-content;
    font-size: 42px;
    font-family: WinSoft Pro;
    font-weight: bold;
    color: #0066cc;
    margin-left: 80px;
    text-transform: uppercase;
    line-height: 45px; }
  .header img {
    height: 58px;
    margin-left: auto;
    margin-right: 100px; }

.top-bar {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 0; }
  .top-bar span {
    width: fit-content;
    height: fit-content;
    font-family: Imago;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase; }
  .top-bar .side-bar-header {
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
    .top-bar .side-bar-header .collapse-button {
      margin-left: 28px;
      z-index: 1; }
    .top-bar .side-bar-header span {
      font-size: 20px;
      color: white;
      margin-left: 10px;
      text-transform: none; }

.side-bar {
  height: calc(100vh - 112px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s all ease;
  /* width */ }
  .side-bar ::-webkit-scrollbar {
    width: 3px !important; }
  .side-bar .nav-dot:active {
    background: #2a89ef !important; }
  .side-bar .side-bar-left-band {
    width: 5px;
    height: 100%;
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
    z-index: 1; }
  .side-bar .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC; }
  .side-bar .side-bar-footer {
    width: 100%;
    background: #D8D8D8;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: 0.3s all ease; }
  .side-bar .side-bar-content {
    width: 100%;
    height: calc(100% - 147px);
    position: relative;
    overflow: auto; }
    .side-bar .side-bar-content .side-bar-submenu-left {
      width: 88px;
      height: 100%;
      background: #D8D8D8;
      position: absolute;
      top: 0;
      left: 0; }
    .side-bar .side-bar-content .side-bar-submenu {
      padding: 80px 0;
      overflow: auto; }
      .side-bar .side-bar-content .side-bar-submenu .submenu-item-wrapper {
        height: 40px; }
        .side-bar .side-bar-content .side-bar-submenu .submenu-item-wrapper .submenu-item {
          width: 200px;
          padding-left: 15px;
          color: black;
          text-decoration: none; }
        .side-bar .side-bar-content .side-bar-submenu .submenu-item-wrapper .submenu-item:hover {
          font-weight: bold; }
      .side-bar .side-bar-content .side-bar-submenu .side-bar-submenu-title-wrapper {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin: 10px; }
        .side-bar .side-bar-content .side-bar-submenu .side-bar-submenu-title-wrapper .side-bar-submenu-title {
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          color: black;
          cursor: pointer; }
      .side-bar .side-bar-content .side-bar-submenu .side-bar-submenu-title:hover {
        font-weight: 900; }
    .side-bar .side-bar-content .search-button {
      position: absolute;
      left: 25px;
      top: 20px;
      z-index: 2; }

.page-container {
  width: 100vw;
  height: calc(100vh - 112px);
  position: relative;
  overflow: hidden; }
  .page-container .background-image {
    width: 100%;
    height: 100%; }
    .page-container .background-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .page-container .page-content {
    height: calc(100vh - 164px);
    position: absolute;
    top: 52px;
    transition: 0.3s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }

.custom-modal-wrapper {
  width: 100%;
  height: 100%;
  background: #0066cc9e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: black; }
  .custom-modal-wrapper h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0066cc;
    margin: 15px 0; }
  .custom-modal-wrapper p {
    font-size: 16px; }
  .custom-modal-wrapper .custom-modal-container {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 6px 0;
    padding: 15px 20px;
    position: absolute;
    top: 5%;
    left: 5%; }
  .custom-modal-wrapper .custom-modal-header {
    width: 100%; }
    .custom-modal-wrapper .custom-modal-header .close-button {
      width: 45px;
      height: 45px;
      border-radius: 25px;
      border: 4px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 35px;
      position: absolute;
      right: -22px;
      top: -22px; }
      .custom-modal-wrapper .custom-modal-header .close-button:active, .custom-modal-wrapper .custom-modal-header .close-button:focus {
        box-shadow: none; }
      .custom-modal-wrapper .custom-modal-header .close-button span {
        line-height: 29px;
        margin-top: -7px; }
  .custom-modal-wrapper .custom-modal-content {
    width: 100%;
    height: 100%;
    overflow: auto; }
  .custom-modal-wrapper .custom-modal-footer {
    width: 100%; }

.image-modal {
  width: 100vw;
  left: -318px; }
  .image-modal .custom-modal-container {
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%; }
    .image-modal .custom-modal-container .custom-modal-content img {
      width: 100%;
      height: 100%; }

.image-modal, .connection-modal {
  width: 100vw;
  left: -318px; }
  .image-modal .custom-modal-container, .connection-modal .custom-modal-container {
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%; }

.image-modal .custom-modal-content img {
  width: 100%;
  height: 100%; }

.main-content {
  width: 47%;
  height: 90%;
  min-width: 550px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 black;
  padding: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
  color: black;
  overflow: hidden; }
  .main-content .main-content-image {
    width: 100%;
    cursor: pointer; }
  .main-content .main-content-header {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid #0066CC; }
    .main-content .main-content-header .nav-button {
      width: 45px;
      height: 45px;
      border-radius: 25px; }
    .main-content .main-content-header .main-content-title {
      font-size: 26px;
      font-weight: bold;
      color: #0066cc;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .main-content .main-content-body {
    height: calc(100% - 70px);
    padding: 20px 0;
    overflow: auto; }
    .main-content .main-content-body h2 {
      font-size: 20px;
      font-weight: bold;
      color: #0066cc; }

.welcome-modal {
  width: 100%; }
  .welcome-modal h3 {
    text-align: center; }
  .welcome-modal .welcome-videos {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .welcome-modal .welcome-videos .slick-prev:hover, .welcome-modal .welcome-videos .slick-next:hover {
      color: #D8D8D8; }
    .welcome-modal .welcome-videos .slick-prev:before, .welcome-modal .welcome-videos .slick-next:before {
      color: #565B59; }
  .welcome-modal .explore-button {
    width: 40%;
    height: 50px;
    min-width: 500px;
    background: #0066cc;
    border-radius: 30px;
    margin: 40px auto;
    cursor: pointer; }
    .welcome-modal .explore-button:active {
      opacity: 0.8; }
    .welcome-modal .explore-button span {
      color: white;
      font-size: 25px;
      font-weight: bold;
      text-align: center; }

.abbreviation .custom-modal-container {
  padding: 0; }
  .abbreviation .custom-modal-container .custom-modal-header {
    height: 70px;
    background: #0066CC;
    border-radius: 8px 8px 0 0;
    padding-left: 25px;
    color: white;
    font-size: 30px; }
  .abbreviation .custom-modal-container .custom-modal-content {
    height: calc(100% - 70px);
    overflow: hidden; }

.abbreviation .abbreviation-content {
  height: 100%;
  padding: 25px; }
  .abbreviation .abbreviation-content .reference-content {
    padding: 10px;
    height: 100%;
    overflow: auto; }
    .abbreviation .abbreviation-content .reference-content p {
      width: 30%;
      height: 40px;
      border-bottom: 1px solid #D8D8D8;
      font-size: 18px; }
      .abbreviation .abbreviation-content .reference-content p span {
        color: #0066CC;
        font-weight: bold; }

.acknowledgements .custom-modal-container {
  padding: 0; }
  .acknowledgements .custom-modal-container .custom-modal-header {
    height: 70px;
    background: #0066CC;
    border-radius: 8px 8px 0 0;
    padding-left: 25px;
    color: white;
    font-size: 30px; }
  .acknowledgements .custom-modal-container .custom-modal-content {
    height: calc(100% - 70px);
    overflow: hidden; }

.acknowledgements .acknowledgements-content {
  height: 100%;
  padding: 25px; }
  .acknowledgements .acknowledgements-content .reference-content {
    padding: 10px;
    height: calc(100% - 40px);
    overflow: auto; }
    .acknowledgements .acknowledgements-content .reference-content p {
      width: 30%;
      height: 40px;
      border-bottom: 1px solid #D8D8D8;
      font-size: 18px; }
      .acknowledgements .acknowledgements-content .reference-content p span {
        color: #0066CC;
        font-weight: bold; }

p span {
  color: #0066CC;
  font-weight: bold; }

span span {
  text-decoration: underline; }

.page-wrapper {
  width: 100%; }

.background-map {
  height: 100%;
  position: absolute; }
  .background-map img {
    height: 100%; }

.detail-map {
  height: 80%;
  position: absolute;
  right: 50%; }
  .detail-map img {
    height: 100%; }

.access-dropdown {
  position: absolute;
  top: 71%;
  left: 47%; }

.care-dropdown {
  position: absolute;
  top: 38%;
  left: 61%; }

.diagnosis-dropdown {
  position: absolute;
  top: 10%;
  left: 29%; }

.data-dropdown {
  position: absolute;
  top: 43%;
  left: 48%; }

.monitoring-dropdown {
  position: absolute;
  top: 32%;
  left: 5%; }

.roche-dropdown {
  position: absolute;
  top: 2%;
  left: 84%; }
  .roche-dropdown .dropdown-title:hover {
    background: #ED8B00; }

.partners-dropdown {
  width: 135px;
  position: absolute;
  top: 2%;
  left: 58%; }
  .partners-dropdown .dropdown-title:hover {
    background: #ED8B00; }

.vbhc-dropdown {
  position: absolute;
  top: 1%;
  left: 69%; }
  .vbhc-dropdown .dropdown-title:hover {
    background: #ED8B00; }

.color-box {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 5px; }

.color-description {
  margin: 0;
  font-size: 8px; }

.image-description-color-global {
  background: #2a89ef; }

.image-description-color-regional {
  background: #70b4f7; }

.image-description-color-local {
  background: #87ceeb; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: 'Imago';
  src: url("/fonts/Berthold_Imago_Book.ttf"); }

body {
  margin: 0; }

/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 13px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff; }
