.custom-button:active {
  background: #8DD1FF !important; }

.custom-input:focus {
  outline: none; }

.header {
  width: 100%;
  height: 112px; }
  .header span {
    width: fit-content;
    height: fit-content;
    font-size: 45px;
    font-family: WinSoft Pro;
    font-weight: bold;
    color: #0066cc;
    margin-left: 100px; }
  .header img {
    height: 58px;
    margin-left: auto;
    margin-right: 100px; }

.top-bar {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 0; }
  .top-bar span {
    width: fit-content;
    height: fit-content;
    font-family: Imago;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 0; }
  .top-bar .side-bar-header {
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
    .top-bar .side-bar-header .collapse-button {
      margin-left: 28px;
      z-index: 1; }
    .top-bar .side-bar-header span {
      font-size: 20px;
      color: white;
      margin-left: 10px; }

.side-bar {
  height: calc(100vh - 112px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s all ease; }
  .side-bar .side-bar-left-band {
    width: 5px;
    height: 100%;
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
    z-index: 1; }
  .side-bar .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC; }
  .side-bar .side-bar-footer {
    width: 100%;
    background: #D8D8D8;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: 0.4s all ease; }
  .side-bar .side-bar-content {
    width: 100%;
    height: calc(100% - 147px);
    position: relative; }
    .side-bar .side-bar-content .side-bar-submenu {
      padding: 90px 0; }
      .side-bar .side-bar-content .side-bar-submenu .submenu-item-wrapper {
        height: 40px; }
        .side-bar .side-bar-content .side-bar-submenu .submenu-item-wrapper .submenu-item {
          width: 200px;
          padding-left: 15px;
          color: black;
          text-decoration: none; }
      .side-bar .side-bar-content .side-bar-submenu .side-bar-submenu-title-wrapper {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D8D8D8; }
        .side-bar .side-bar-content .side-bar-submenu .side-bar-submenu-title-wrapper .side-bar-submenu-title {
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          color: black;
          cursor: pointer; }
    .side-bar .side-bar-content .search-button {
      position: absolute;
      left: 25px;
      top: 20px;
      z-index: 2; }

.page-container {
  width: 100vw;
  height: calc(100vh - 112px);
  position: relative; }
  .page-container .background-image {
    width: 100%;
    height: 100%; }
    .page-container .background-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .page-container .page-content {
    height: calc(100vh - 164px);
    position: absolute;
    top: 52px;
    transition: 0.4s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }

@font-face {
  font-family: 'Imago';
  src: url("/fonts/Berthold_Imago_Book.ttf"); }

body {
  margin: 0; }
