.custom-button:active {
  background: #8DD1FF !important;
}

.custom-input:focus {
  outline: none;
}

.nav-submenu:hover {
  background: #D8D8D8AD;
}

.nav-menu-title:hover {
  font-weight: bold !important;
}
