.custom-button:active {
  background: #8DD1FF !important;
}

.custom-input:focus {
  outline: none;
}

.nav-submenu:hover {
  background: #D8D8D8AD;
}

.nav-menu-title:hover {
  font-weight: bold !important;
}

.custom-dropdown {
  .drop-button {
    &:active {
      background: #1189DA !important;
    }
    & .dropdown {
      background: #1189DA !important;
    }
  }

  .dropdown-title {
    width: 75%;
    height: 50px;
    background: white;
    border-radius: 0 25px 25px 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;

    &:hover {
      background: #0066CC;
      color: white !important;
    }
  }

  .custom-dropdown-list {
    display: flex;
    flex-direction: column;
    background: #ffffffbd;
    border-radius: 5px;
    padding: 10px;
    top: 50px;

    a {
      width: 100%;
      text-decoration: none;
      color: black;
      font-family: 'Imago';
      padding: 0 5px;

      &:hover {
        background: #ffffffdd;
      }
    }
  }
}

.connection-button {
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px;
  color: #E40046;
  border: solid 2px #E40046;
  border-radius: 20px 20px 20px 20px;
  width: fit-content;
  padding: 0 20px 2px 30px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.85;

  &:active {
    opacity: 1;
  }

  img {
    height: 47px;
    margin-left: -42px;
    margin-top: 2px;
  }
}

.expand-button {
 .expand-content {
   width: 250px;
   height: 100px;
   position: absolute;
   background: white;
   border-radius: 5px;
   border: 2px solid #0066cc;
   overflow: auto;
   z-index: 3;
 }
}
