.header {
  width: 100%;
  height: 112px;

  span {
    width: fit-content;
    height: fit-content;
    font-size: 45px;
    font-family: WinSoft Pro;
    font-weight: bold;
    color: #0066cc;
    margin-left: 100px;
  }

  img {
    height: 58px;
    margin-left: auto;
    margin-right: 100px;
  }
}
