.header {
  width: 100%;
  height: 112px;
  cursor: pointer;

  span {
    width: fit-content;
    height: fit-content;
    font-size: 36px;
    font-family: WinSoft Pro;
    font-weight: bold;
    color: #0066cc;
    margin-left: 80px;
    text-transform: uppercase;
    line-height: 45px;
  }

  img {
    height: 58px;
    margin-left: auto;
    margin-right: 100px;
  }

  &:hover {
    text-decoration: none;
  }

}

.mobile-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;

  span {
    width: fit-content;
    height: fit-content;
    font-size: 21px;
    font-family: WinSoft Pro;
    font-weight: bold;
    color: #0066cc;
    text-transform: uppercase;
    line-height: 23px;
  }

  .menu-icon {
    height: 70%;
  }

  .logo {
    height: 50%;
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}
