.main-content {
  width: 47%;
  height: 90%;
  min-width: 550px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 black;
  padding: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
  color: black;
  overflow: hidden;

  .main-content-header {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid #0066CC;

    .nav-button {
      width: 45px;
      height: 45px;
      border-radius: 25px;
    }

    .main-content-title {
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      color: #0066cc;
    }
  }

  .main-content-body {
    height: calc(100% - 70px);
    padding-bottom: 10px;
    overflow: auto;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #0066cc;
    }
  }
}
