.custom-modal-wrapper {
  width: 100%;
  height: calc(100vh - 112px);
  background: #0066cc9e;
  position: absolute;
  top: -52px;
  left: 0;
  z-index: 10;
  color: black;

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0066cc;
    margin: 15px 0;
  }

  p {
    font-size: 16px;
  }

  .custom-modal-container {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px 0;
    padding: 15px 20px;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .custom-modal-header {
    width: 100%;

    .close-button {
      width: 45px;
      height: 45px;
      border-radius: 25px;
      border: 4px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 35px;
      position: absolute;
      right: -22px;
      top: -22px;

      &:active, &:focus {
        box-shadow: none;
      }

      span {
        line-height: 29px;
        margin-top: -7px;
      }
    }
  }

  .custom-modal-content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .custom-modal-footer {
    width: 100%;
  }
}

.image-modal, .connection-modal {
  width: 100vw;
  left: -318px;

  .custom-modal-container {
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%;
  }
}

.image-modal {
  align-items: center;
  justify-content: center;

  .custom-modal-container {
    width: fit-content;
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px 0;
    padding: 15px 20px;
    position: relative;
    max-width: 1200px;
    top: 0;
    left: 0;
  }

  .custom-modal-content {
    width: fit-content;
    padding: 10px;
    height: 100%;
    img {
      width: 100%;
      height: auto;
      max-height: 550px;
    }
  }
}

.connection-modal {
  align-items: center;
  justify-content: center;

  .custom-modal-container {
    width: fit-content;
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px 0;
    position: relative;
    max-width: 1200px;
    min-width: 1000px;
    top: 0;
    left: 0;
    padding: 0;

    .custom-modal-header {
      padding-left: 40px;

      img {
        width: 60px;
        margin-top: -40px;
      }

      .zoom-in-icon {
        margin-top: 0;
      }

      .connection-title {
        padding-top: 10px;
        margin-left: 20px;

        h2 {
          font-weight: bold;
        }

        div {
          font-size: 12px;
        }
      }
    }

    .custom-modal-content {
      width: 100%;
      padding: 10px;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        max-height: 550px;
      }
    }
  }

  .zoom-out-button {
    width: 235px;
    height: 70px;
    background: #b5e9fe;
    bottom: 20px;
    right: 30px;
    border-style: solid;
    border-color: #01a3f8;
    border-width: 3px 3px 6px 6px;
    border-radius: 5px;
    font-family: Imago;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    box-shadow: 0 0 6px 0;
    cursor: pointer;

    .col-lg-6 {
      padding: 0 0 0 5px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .zoom-out-button:hover {
    background-color: #B5E9FE;
    border-color: #01a3f899;
  }

  .zoom-in-button {
    border: 2px solid #0066cc;
    color: #0066cc;
  }

  .zoom-in-button:hover {
    background-color: #0066cc99;
  }
}

.zoom-in {
  .zoom-in-map {
    height: 100%;
    .drop-button {
      img {
        width: 13px !important;
      }
    }
  }

  .custom-modal-header {
    height: 60px !important;
  }

  .custom-modal-content {
    background: #71C6FF;
    height: calc(100% - 60px) !important;

    img {
      height: 100% !important;
      width: auto !important;
    }
  }

  .diagnosis-dropdown {
    top: 2%;
    left: 39%;
  }

  .monitoring-dropdown {
    top: 28%;
    left: 7%;
  }

  .care-dropdown {
    top: 35%;
    left: 81%;
    width: fit-content;
  }

  .data-dropdown {
    position: absolute;
    top: 40%;
    left: 64%;
  }

  .access-dropdown {
    width: fit-content;
    position: absolute;
    top: 69%;
    left: 62%;
  }
}

.disclaimer {
  background: #eeeeee;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}


