.custom-modal-wrapper {
  width: 100%;
  height: 100%;
  background: #0066cc9e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: black;

  h3 {
    font-size: 20px;
    color: #0066cc;
    margin: 15px 0;
  }

  p {
    font-size: 16px;
  }

  .custom-modal-container {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 6px 0;
    padding: 15px 20px;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .custom-modal-header {
    width: 100%;

    .close-button {
      width: 45px;
      height: 45px;
      border-radius: 25px;
      border: 4px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 35px;
      position: absolute;
      right: -22px;
      top: -22px;

      &:active, &:focus {
        box-shadow: none;
      }

      span {
        line-height: 29px;
        margin-top: -7px;
      }
    }
  }

  .custom-modal-content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .custom-modal-footer {
    width: 100%;
  }
}


