.custom-modal-wrapper {
  width: 100%;
  height: 100%;
  background: #0066cc9e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: black;

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0066cc;
    margin: 15px 0;
  }

  p {
    font-size: 16px;
  }

  .custom-modal-container {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 6px 0;
    padding: 15px 20px;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .custom-modal-header {
    width: 100%;

    .close-button {
      width: 45px;
      height: 45px;
      border-radius: 25px;
      border: 4px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 35px;
      position: absolute;
      right: -22px;
      top: -22px;

      &:active, &:focus {
        box-shadow: none;
      }

      span {
        line-height: 29px;
        margin-top: -7px;
      }
    }
  }

  .custom-modal-content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .custom-modal-footer {
    width: 100%;
  }
}

.image-modal {
  width: 100vw;
  left: -318px;

  .custom-modal-container {
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%;

    .custom-modal-content {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.image-modal, .connection-modal {
  width: 100vw;
  left: -318px;

  .custom-modal-container {
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%;
  }
}

.image-modal {
  .custom-modal-content {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.connection-modal {
  .custom-modal-container {
    padding: 0;

    .custom-modal-header {
      height: 100px;
      padding-left: 40px;

      img {
        width: 60px;
        margin-top: -40px;
      }

      .zoom-in-icon {
        margin-top: 0;
      }

      .connection-title {
        padding-top: 10px;
        margin-left: 20px;

        h2 {
          font-weight: bold;
        }

        div {
          font-size: 12px;
        }
      }
    }

    .custom-modal-content {
      height: calc(100% - 100px);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .zoom-out-button {
    background: #b5e9fe;
    bottom: 20px;
    right: 30px;
    border-style: solid;
    border-color: #01a3f8;
    border-width: 3px 3px 6px 6px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    cursor: pointer;
  }

  .zoom-out-button:hover {
    background-color: #b5e9fe99;
    border-color: #01a3f899;
  }

  .zoom-in-button {
    border: 2px solid #0066cc;
    color: #0066cc;
  }

  .zoom-in-button:hover {
    background-color: #0066cc99;
  }
}

.zoom-in {
  .zoom-in-map {
    height: 100%;
    .drop-button {
      img {
        width: 13px !important;
      }
    }
  }

  .custom-modal-header {
    height: 60px !important;
  }

  .custom-modal-content {
    background: #71C6FF;
    height: calc(100% - 60px) !important;

    img {
      height: 100% !important;
      width: auto !important;
    }
  }

  .diagnosis-dropdown {
    top: 2%;
    left: 39%;
  }

  .monitoring-dropdown {
    top: 28%;
    left: 7%;
  }

  .care-dropdown {
    top: 35%;
    left: 81%;
    width: fit-content;
  }

  .data-dropdown {
    position: absolute;
    top: 40%;
    left: 64%;
  }

  .access-dropdown {
    width: fit-content;
    position: absolute;
    top: 69%;
    left: 62%;
  }
}


