.side-bar {
  height: calc(100vh - 112px);
  background: #FFFFFFAD;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .left-band {
    width: 5px;
    height: calc(100% - 95px);
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
  }

  .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC;
  }

  .side-bar-footer {
    width: 100%;
    height: 95px;
    background: #D8D8D8;
    border-top: 5px solid #71C6FF;
  }

  .content {
    width: 100%;
    height: calc(100% - 147px);
  }
}
