.side-bar {
  height: calc(100vh - 112px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s all ease;

  /* width */
  ::-webkit-scrollbar {
    width: 3px !important;
  }

  .nav-dot:active {
    background: #2a89ef !important;
  }

  .side-bar-left-band {
    width: 5px;
    height: 100%;
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
    z-index: 1;
  }

  .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC;
  }

  .side-bar-footer {
    width: 100%;
    background: #D8D8D8;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: 0.3s all ease;
  }

  .side-bar-content {
    width: 100%;
    height: calc(100% - 147px);
    position: relative;
    overflow: auto;

    .search-result {
      width: 258px;
      height: 100%;
      padding: 80px 5px 5px 10px;
      background: #F1F1F1;
      position: absolute;
      z-index: 3;
      transition: 0.3s all ease;

      .results-container {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-top: 2px solid #E2E2E2;
        border-bottom: 2px solid #E2E2E2;
        overflow-y: auto;
        overflow-x: hidden;

        .search-result-item {
          border-bottom: 1px solid #E2E2E2;
          padding: 10px 0;
          font-family: Imago;

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    .side-bar-submenu-left {
      width: 88px;
      height: 100%;
      background: #D8D8D8;
      position: absolute;
      top: 0;
      left: 0;
    }

    .side-bar-submenu {
      padding: 80px 0;
      overflow: auto;

      .submenu-item-wrapper {
        height: 40px;

        .submenu-item {
          width: 200px;
          padding-left: 10px;
          color: black;
          text-decoration: none;
        }

        .submenu-item:hover {
          font-weight: bold;
        }
      }

      .side-bar-submenu-title-wrapper {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin: 10px;

        .side-bar-submenu-title {
          width: 100%;
          font-weight: bold;
          text-transform: uppercase;
          text-align: left;
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }

      .side-bar-submenu-title:hover {
        font-weight: 900;
      }
    }

    .search-button {
      position: absolute;
      left: 25px;
      top: 20px;
      z-index: 4;
    }
  }
}
