.side-bar {
  height: calc(100vh - 112px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s all ease;

  .side-bar-left-band {
    width: 5px;
    height: 100%;
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
  }

  .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC;
  }

  .side-bar-footer {
    width: 100%;
    height: 95px;
    background: #D8D8D8;
    border-top: 5px solid #71C6FF;
    position: absolute;
    bottom: 0;
  }

  .side-bar-content {
    width: 100%;
    height: calc(100% - 147px);
    position: relative;

    .search-button {
      position: absolute;
      left: 28px;
      top: 20px;
    }
  }
}
