.side-bar {
  height: calc(100vh - 112px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s all ease;

  .side-bar-left-band {
    width: 5px;
    height: 100%;
    background: #71C6FF;
    position: absolute;
    top: 0;
    left: 44px;
    z-index: 1;
  }

  .side-bar-header {
    width: 100%;
    height: 52px;
    background: #0066CC;
  }

  .side-bar-footer {
    width: 100%;
    background: #D8D8D8;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: 0.4s all ease;
  }

  .side-bar-content {
    width: 100%;
    height: calc(100% - 147px);
    position: relative;

    .side-bar-submenu {
      padding: 90px 0;

      .submenu-item-wrapper {
        height: 40px;

        .submenu-item {
          width: 200px;
          padding-left: 15px;
          color: black;
          text-decoration: none;
        }
      }

      .side-bar-submenu-title-wrapper {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D8D8D8;

        .side-bar-submenu-title {
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }
    }

    .search-button {
      position: absolute;
      left: 25px;
      top: 20px;
      z-index: 2;
    }
  }
}
