.top-bar {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;

  span {
    width: fit-content;
    height: fit-content;
    font-family: Imago;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .side-bar-header {
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transition: 0.3s all ease;

    .collapse-button {
      margin-left: 28px;
      z-index: 1;
    }

    span {
      font-size: 19px;
      color: white;
      margin-left: 10px;
    }
  }
}
